.nav {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #ccc;
  padding: 20px 0px;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav ul li {
  list-style: none;
  font-family: "Playfair Display", serif;
}

.nav ul li:hover {
  transform: scale(1.05);
}
